.logo{

  margin-top: 13px;
  width: 70px;
  height: 70px;
  border-radius: 15px;
}
.sider{
  height: 0px;
}
.palce{
  color: #000;
  font-weight: bold;
}
.palce-list {
  font-size: 36px;
  font-weight: bold;
  
}
.style-col {
  height: 80%;
  border-radius: 25px;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, .2);
}
.pro-img{
  width: 70px;
  height: 70px;
  border-radius: 15px;
}
.name-palce{
  font-size: 16px;
  font-weight: bold;
}
.time{
  font-size: 16px;
  font-weight: bold;
}
.style-rate{
  background-color: #134B8A;
  border-radius: 15px;
  width: 50px;
  height: 30px;
  text-align: center;
}
.rate{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.images{
  width: 100px;
  height: 100px;
}
/* ------------------------------------------------------------watchPalce---------------------------------------------------------------------- */
.title-img {
  font-size: 16px;
  font-weight: 500;
}

.style-con {
  background-color: #fff;
  border-radius: 25px;
  width: 60%;
  padding: 0;
}

.style-img {
  text-align: center;
  width: 100%;
  background-color: #fff;
  border-radius: 25px;
  margin-left: 50px;
  padding: 2%;
}

.style-images-palce{
  border-radius: 25px;
}

.images-palce {
  text-align: center;
  width: 400px;
  height: 400px;
}

.profile {
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  border-radius: 25px 25px 0px 0px;
  padding: 0;
}
.style-des{
  padding: 30px;
}
.name-palce-watch{
  font-size: x-large;
  font-weight: bold;
}
.rate-watch{
  font-size: large;
  font-weight: bold;
  float: right;
  color: #134B8A;
}
.title-address {
  font-size: medium;
  font-weight: bold;
  margin-right: 8%;
}
.title-time {
  font-size: medium;
  font-weight: bold;
}
.timelist{
  margin-left: 22%;
}
@media screen and (min-width: 1200px){
.sider {
  height: 100%;
  background: #fff;
  border-radius: 0px 100px 100px 0px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 0px;
}

.btnpalce {
  margin-top: 20px;
  background-color: #0f1E56;
}

.site-layout-sub-header-background {
  background-color: #134B8A;
}

.palce {
  text-align: center;
  font-weight: bold;
  color: #000;
}

.palce-list {
  font-weight: bold;
  font-size: 20px;
  float: left;
}

.select {
  width: 200px;
  height: 1cm;
  border-radius: 100px;
}

.style-search {
  width: 300px;
  height: 1cm;
  color: #134B8A;
}

.or {
  font-size: 20px;
  color: #134B8A;
  margin-left: 10px;
  margin-right: 10px;
}

.pro-img {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  margin-right: 10px;
}

.name-palce {
  font-size: 18px;
  font-weight: bolder;
}

.time {
  font-size: 14px;
  font-weight: bold;
  margin-left: 80px;
}

.style-rate{
  background-color: #134B8A;
  border-radius: 50px;
  float: right;
  width: 5px;
  height: 5px;
  text-align: center;
}

.rate {
  color: #134B8A;
  font-size: 14px;
  font-weight: bold;
}

.images{
  width: 100%;
  height: 60%;
  
}

.descrip {
  position: initial;
}

.style-col {
  height: 80%;
  border-radius: 25px;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, .2);
}

.style-grid {
  border-radius: 25px;
}

.site-layout-background {
  background: #fff;
}

/* ------------------------------------------------------------watchPalce---------------------------------------------------------------------- */
.title-img {
  font-size: 16px;
  font-weight: 500;
}

.style-con {
  background-color: #fff;
  border-radius: 25px;
  width: 60%;
  padding: 0;
}

.style-img {
  text-align: center;
  width: 100%;
  background-color: #fff;
  border-radius: 25px;
  margin-left: 50px;
  padding: 2%;
}

.style-images-palce{
  border-radius: 25px;
}

.images-palce {
  text-align: center;
  width: 400px;
  height: 400px;
}

.profile {
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  border-radius: 25px 25px 0px 0px;
  padding: 0;
}
.style-des{
  padding: 30px;
}
.name-palce-watch{
  font-size: x-large;
  font-weight: bold;
}
.rate-watch{
  font-size: large;
  font-weight: bold;
  float: right;
  color: #134B8A;
}
.title-address {
  font-size: medium;
  font-weight: bold;
  margin-right: 8%;
}
.title-time {
  font-size: medium;
  font-weight: bold;
}
.timelist{
  margin-left: 22%;
}
  }

